body{
    color: black;
    background-color: dimgray;
}
nav li{display: inline; background-color: rosybrown;}
nav li a{color: dimgrey}

.btn-primary{
    background-color: var(--bs-orange);
    border: 1px solid black;
    color: black;
}
canvas{
    background-color: white;
}
label{
    text-transform: capitalize;
}

.scroll-content{
    height: 70vh;
    overflow: auto;
}